# Base de datos
DB_ROOT_PASSWORD=root
DB_NAME=nombre_que_quieras_para_tu_base_de_datos
DB_USER=nombre_que_quieras_para_usuario_de_tu_base_de_datos
DB_PASSWORD=contraseña_para_el_usuario_de_tu_base_de_datos

# Puertos
PORT_GATEWAY=8080
PORT_USUARIO=8081
PORT_CURSO=8082
PORT_ASIGNATURA=8083
PORT_MATERIALES=8084
PORT_FRONTEND=80
PORT_MARIADB=3306