# Base de datos
DB_NAME=pon_aqui_el_nombre_de_tu_base_de_datos
DB_USER=pon_aqui_el_nombre_de_tu_usuaruo_de_mariadb
DB_PASSWORD=pon_aqui_tu_contraseña_de_mariadb

# Puertos
PORT_USUARIO=8080
PORT_CURSO=8081
PORT_FRONTEND=80
PORT_MARIADB=3306