@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "../../../../../assets/scss/variables";

.asignatura-main{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    
    .asignatura-tab{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;

        .col, .card{
            border-radius: 0 !important;
            border: 0 !important;
            box-shadow: none !important;
        }
    }
}

.temas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin: 15px 0; 
    gap: 15px;

    .tema {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        background-color: #565656;
        min-height: 80px; 
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

        .tema_header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 20px;
            transition: all 0.3s ease;
            cursor: pointer;

            .tema-info {
                flex: 1;
                overflow: hidden;
            }

            h3 {
                margin: 0;
                margin-left: 20px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .tema-icon {
                transition: all 0.3s ease;
            }

            &:hover {
                background-color: #636363;
                border-radius: 10px 10px 0 0;
                .tema-icon {
                    transform: scale(1.3);
                    color: $primary;
                }
            }
        }

    .tema_body{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        border-top: 2px solid $primary;
        padding: 20px;
    }



    

        
    }

    
}
