<header class="app-topbar">
    <div class="container-fluid topbar-menu">
        <a routerLink="/" class="logo">
        <span class="logo logo-light">
          <span class="logo-lg"><img src="assets/images/logo.png" alt="logo"></span>
          <span class="logo-sm"><img src="assets/images/logo-sm.png" alt="small logo"></span>
        </span>

        <span class="logo logo-dark">
          <span class="logo-lg"><img src="assets/images/logo-black.png" alt="dark logo"></span>
          <span class="logo-sm"><img src="assets/images/logo-sm.png" alt="small logo"></span>
        </span>
    </a>
        <div class="d-flex align-items-center gap-2 me-auto ms-3">
            <div class="logo-topbar">
                <a routerLink="/" class="logo-light">
                    <span class="logo-lg">
                      <img src="assets/images/logo.png" alt="logo">
                    </span>
                    <span class="logo-sm">
                        <img src="assets/images/logo-sm.png" alt="small logo">
                    </span>
                </a>

                <a routerLink="/" class="logo-dark">
                    <span class="logo-lg">
                      <img src="assets/images/logo-black.png" alt="dark logo">
                    </span>
                    <span class="logo-sm">
                      <img src="assets/images/logo-sm.png" alt="small logo">
                    </span>
                </a>
            </div>

            <ul class="nav nav-tabs nav-bordered mb-0" style="border-bottom: none;">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/cursos" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">Cursos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/area-personal" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">Área personal</a>
                </li>
            </ul>

        </div>

        <div class="d-flex align-items-center gap-2">

            @if (canRegisterUser) {
                <div class="topbar-item d-flex align-items-center px-2">
                    <a routerLink="/auth-2/sign-up" class="text-secondary d-flex align-items-center" title="Registrar nuevo usuario" style="cursor: pointer; text-decoration: none;">
                        <lucide-angular [img]="LucideUserPlus" class="fs-22"></lucide-angular>
                    </a>
                </div>
            }

            <app-user-profile-topbar/>
            
        </div>
    </div>
</header>
